body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #151515;
}

.header {
  height: 660px;
  background-image: url(./images/cherryblossoms.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
 
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.header__banner{
  font-weight: 500;
  letter-spacing: -0.64px;
  font-size: 16px;
  line-height: 15px;
  color: #ffe247;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.header__title{
  font-size: 140px;
  font-weight: 500;
  line-height: 132px;
  letter-spacing: -5.6px;
  color: #ffe247;
  text-transform: uppercase;
  margin: 0 auto 20px;
  max-width: 1400px;
  text-align: center;
  
  }

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 40px auto;
}



.card {
width: 490px;
min-height: 440px;
background: #ffffff
}

.card__image{
width: 100%;
display: block;
object-fit: cover;
height: 246px;
}

.card__title{
  font-size: 24px;
  line-height: 1.5;
  font-weight: 1.5;
  letter-spacing: -0.16px;
  color: #151515;
  margin-bottom: 18px;
}

